body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: wrap;
  
}

h1 {
  color: #333;
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}
button{
  background-color: aqua;
  width: 100px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}